@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.header {
    background-color: rgb(207, 207, 207);
    font-family: 'Covered By Your Grace', cursive;
    font-size: large;
    color: #4603ef;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    height: 100px;
}

